<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gymstats">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.caloriesCharts"></activity>
        <activity android:name=".Activities.otherCharts" />
        <activity android:name=".Activities.jsonData" />
        <activity android:name=".Activities.Scale" />
        <activity android:name=".Activities.Time" />
        <activity android:name=".Activities.SwimmingCycling" />
        <activity android:name=".Activities.Distance" />
        <activity android:name=".Activities.Running" />
        <activity
            android:name=".Activities.Gym"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Activities.Charts" />
        <activity
            android:name=".Activities.ExcerciseDetails"
            android:parentActivityName=".Activities.Day"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.Day"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>